# ignore "nokeep *.txt" in all directory
nokeep *.txt
 
# ignore "nokeep *.txt" in root directory
/nokeep *.txt
 
# ignore "nokeep *.txt" in directory "keep/nokeep" in root directory
/keep/nokeep/nokeep *.txt
 
# ignore "all" file in directory "nokeep" in root directory
/nokeep/