# ignore "no keep *.txt" in all directory
no keep *.txt
 
# ignore "no keep *.txt" in root directory
/no keep *.txt
 
# ignore "no keep *.txt" in directory "keep/no keep" in root directory
/keep/no keep/no keep *.txt
 
# ignore "all" file in directory "no keep" in root directory
/no keep/