body {
	background-image: url("0_backgound.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 720px;

}

.in1 {
	padding-left: 20px;
	border-radius:20px;
	border: 5px;
	height: 30px; 
	width: 350px;" 
}


