body {
	background-image: url("0_backgound.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	font-family: arial
}

h1, h2, li {
	color: #555
}

a {
	color: green;
}

p {
	background: red;
	color: white;
	padding: 10px ;
}